<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="/style.css">
</head>

<body class="center-page">

<div class="container">

<h1>Welcome to TrackWise</h1>

<a href="/login">
<button>Login</button>
</a>

</div>

</body>
</html>