<!DOCTYPE html>
<html>
<head>
<title>Main</title>
<link rel="stylesheet" href="/style.css">
</head>

<body class="center-page">

<div class="container">

<h2>Add Expense</h2>

<form action="/add" method="POST">

<input type="text" name="title" placeholder="Title"><br>

<input type="number" name="amount" placeholder="Amount"><br>

<input type="text" name="category" placeholder="Category"><br>

<input type="date" name="expense_date" required><br><br>

<button type="submit">Add Expense</button>

</form>

<br>

<a href="/output">View Analytics</a>

</div>

</body>
</html>