body{
    background-color: lavender;   /* background for ALL pages */
    font-family: Arial, sans-serif;
    margin: 0;
}

/* used only for pages that need centering */
.center-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
}

input{
    padding: 6px;
    margin: 5px;
}

button{
    padding: 8px 15px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: darkviolet;
}